<div id="communicator-link-modal" class="create-post" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

      <div class="py-4 border-b flex  justify-between px-6">
          <h3 class="text-lg font-semibold"> Communicator Link </h3>
      </div>


      <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>
        asdf
      </div>

      <div class="flex items-center w-full justify-between p-3 border-t">

      </div>

    </div>
</div>