<a href="#" class="is_icon" uk-tooltip="title: Message">
    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
            fill-rule="evenodd"
            d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
            clip-rule="evenodd"
        ></path>
    </svg>
    <span>1</span>
</a>
<div uk-drop="mode: click" class="header_dropdown is_message">
    <div class="dropdown_scrollbar" data-simplebar>
        <div class="drop_headline">
            <h4>Messages</h4>
            <div class="btn_action">
                <a href="#" data-tippy-placement="left" title="Notifications">
                    <ion-icon name="settings-outline" uk-tooltip="title: Message settings ; pos: left"></ion-icon>
                </a>
                <a href="#" data-tippy-placement="left" title="Mark as read all">
                    <ion-icon name="checkbox-outline"></ion-icon>
                </a>
            </div>
        </div>
        <input type="text" class="uk-input" placeholder="Search in Messages" />
        <ul>
            <li class="un-read">
                <a href="#">
                    <div class="drop_avatar"><img src="/uploads/logo/circle-logo2.png" alt="" /></div>
                    <div class="drop_text">
                        <strong> SOON </strong>
                        <p>Under development ...</p>
                    </div>
                </a>
            </li>

            <!-- <li class="un-read">
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-7.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Stella Johnson </strong> <time>12:43 PM</time>
                        <p>Alex will explain you how ...</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-1.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Adrian Mohani </strong> <time> 6:43 PM</time>
                        <p>Thanks for The Answer sit amet...</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-6.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong>Alia Dolgove </strong> <time> Wed </time>
                        <p>Alia just joined Messenger!</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-5.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Jonathan Madano </strong> <time> Sun</time>
                        <p>Replay Your Comments insit amet consectetur</p>
                    </div>
                </a>
            </li>
            <li class="un-read">
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-2.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Stella Johnson </strong> <time>12:43 PM</time>
                        <p>Alex will explain you how ...</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-1.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Adrian Mohani </strong> <time> 6:43 PM</time>
                        <p>Thanks for The Answer sit amet...</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-3.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong>Alia Dolgove </strong> <time> Wed </time>
                        <p>Alia just joined Messenger!</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="drop_avatar"><img src="assets/images/avatars/avatar-4.jpg" alt="" /></div>
                    <div class="drop_text">
                        <strong> Jonathan Madano </strong> <time> Sun</time>
                        <p>Replay Your Comments insit amet consectetur</p>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
    <a href="#" class="see-all"> See all in Messages</a>
</div>
