<!-- 1ST -->

<!-- <div class=" bg-white shadow">
    <nav class="responsive-nav md:m-0 -mx-4 nav-small" style="height: 100px;">
      <ul uk-switcher="connect: #components-nav ;animation: uk-animation-fade ; toggle: > * " >            
        <li onclick="lookingForSmallScaleCompany()" class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 mx-20">
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Small Scale Company</h2>
          <p class="text-xs text-gray-500">( Individual Information Only )</p>
        </li>
        <li onclick="lookingForMediumScaleCompany()" class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 mx-20">
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Medium Scale Company</h2>
          <p class="text-xs text-gray-500">( Individual And Company Information )</p>
        </li>
        <li onclick="lookingForLargeScaleCompany()" class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 mx-20">
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Large Scale Company</h2>
          <p class="text-xs text-gray-500">( Exhaustive Company Information )</p>
        </li>
        <li onclick="tradersRegistration()" class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 mx-20">
          <h2 class="text-xl font-semibold">Trader Members</h2>
          <p class="text-xs text-gray-500">( Company And Marketing Information )</p>
        </li> 
      </ul>
    </nav>
  </div> -->


  <!-- 2ND -->
  <!-- <div class=" bg-white shadow">

    <div class="container mx-auto">
      <div class="grid grid-cols-4 gap-6">
        <div
        onclick="lookingForSmallScaleCompany()" class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14"
        >
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Small Scale Company</h2>
          <p class="text-xs text-gray-500">( Individual Information Only )</p>
        </div>
        <div
          class="flex justify-center p-6 text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl"
        >
          2
        </div>
        <div
          class="flex justify-center p-6 text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl"
        >
          3
        </div>
        <div
          class="flex justify-center p-6 text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl"
        >
          4
        </div>
      </div>
    </div>
  </div> -->

  <div class="grid md:grid-cols-4 grid-cols-1 gap-1">
    <div>
        <div class="m-1">
          <div
          onclick="lookingForSmallScaleCompany()" 
          class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 border-2 border-gray-300 rounded-xl"
          id="btnSmallScaleCompany"
          >
            <h2 class="text-xl font-semibold">Members looking for</h2>
            <h2 class="text-xl font-semibold">Small Scale Company</h2>
            <p class="text-xs text-gray-500">( Individual Information Only )</p>
          </div>
        </div>
    </div>
    <div>
      <div class="m-1">
        <div
        onclick="lookingForMediumScaleCompany()" 
        class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 border-2 border-gray-300 rounded-xl"
        id="btnMediumScaleCompany"
        >
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Medium Scale Company</h2>
          <p class="text-xs text-gray-500">( Individual And Company Information )</p>
        </div>
      </div>
    </div>
    <div>
      <div class="m-1">
        <div
        onclick="lookingForLargeScaleCompany()" 
        class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 border-2 border-gray-300 rounded-xl"
        id="btnLargeScaleCompany"
        >
          <h2 class="text-xl font-semibold">Members looking for</h2>
          <h2 class="text-xl font-semibold">Large Scale Company</h2>
          <p class="text-xs text-gray-500">( Exhaustive Company Information )</p>
        </div>
      </div>
    </div>
    <div>
      <div class="m-1">
        <div
        onclick="tradersRegistration()" 
        class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14 border-2 border-gray-300 rounded-xl"
        id="btnTradersRegistration"
        >
          <h2 class="text-xl font-semibold mx-16">Registration for</h2>
          <h2 class="text-xl font-semibold mx-16">Trader Members</h2>
          <p class="text-xs text-gray-500">( Company And Marketing Information )</p>
        </div>
      </div>
    </div>
</div>

<script>
  let currentUrl = window.location.href;
  let lastSegment = currentUrl.split("/").pop();
  if (lastSegment === 'registration-for-small-scale-company') {
    var element = document.getElementById("btnSmallScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'registration-for-medium-scale-company') {
    var element = document.getElementById("btnMediumScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'registration-for-large-scale-company') {
    var element = document.getElementById("btnLargeScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'traders-registration') {
    var element = document.getElementById("btnTradersRegistration");
    element.classList.add("bg-gray-100");
  }
</script>