
<header>
    <div class="header_wrap">
        <div class="header_inner mcontainer">
            <div class="left_side">
                <div id="logo">
                    <a href="" style="vertical-align: middle;">
                        <!-- === LOGO - START === -->
                        <%- include('../header_logo/index.ejs') %>
                        <!-- === LOGO - END === -->
                    </a>
                </div>
            </div>
            <!-- === NAVIGATION - START === -->
            <div class="header_search">
                <!-- === NAVIGATION ICON - START === -->
                

                
                <!-- === NAVIGATION ICON - END === -->
            </div>
            <!-- === NAVIGATION - END === -->
            <div class="right_side">
                <div class="header_widgets">
                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                        <a href="#" onclick="goToLoginPage()" class="bg-blue-500 blue-500 px-6 py-3 rounded-md shadow text-white blue-white-hover">Login</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function goToLoginPage() {
      location.replace(host + '/login');
    }
</script> 