<div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">
    <div class="text-right">
        <button class="p-2 px-4 rounded bg-gray-50 text-red-500" onclick="backProfile();"> Cancel
        </button>
        <button type="button" class="button bg-blue-700" id="btnUpdateLargeScale"> Upgrade To Large Scale </button>
    </div>
</div>