<%- include('../includes/head/index.ejs') %>

<style>
  .my-actions { margin: 0 2em; }
  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }

  .right-gap {
    margin-right: auto;
  }

</style>
<body>
  <div id="wrapper" class="is-collapse is-active">
    <!-- === HEADER - START === -->
    <%- include('../includes/header/index.ejs') %>
    <!-- === HEADER - END === -->

    <!-- Main Contents -->
    <div class="main_content_custom">
      <div class="mcontainer_custom">
        <!--  breadcrumb -->
        <div class="lg:w-6/6 w-full">
          <div class="card mb-2">
            <div class="breadcrumb-area py-0">
              <div class="breadcrumb" >
                <ul class="p-4" id="displaySearchParameter">
                  <!-- <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li class="active">
                    <a href="#">Selection </a>
                  </li>
                  <li class="">
                    <a href="#">1 </a>
                  </li>
                  <li class="">
                    <a href="#">2 </a>
                  </li>
                  <li class="">
                    <a href="#">3 </a>
                  </li>
                  <li class="">
                    <a href="#">4 </a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:flex lg:space-x-2">
          <div class="lg:w-1/6 w-full mb-2">
            <!-- <div class="selection-left-column bg-white" data-simplebar> -->
              <div class="overflow-y-auto h-screen selection-left-column bg-white">
              <div class="p-4 -mt-1.5">
                <div class="text-xs uppercase text-green-500 font-semibold mb-4"> Note: More detail means more specific filtering </div>
                <div class="mb-14">
                  <div class="mb-4">
                    <h2 class="text-lg font-semibold">COMPANY BACKGROUND</h2>
                    <hr />
                  </div>
                  <ul>
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/america.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> Global Region of Operation </span>
                      </div>
                      <select class="selectpicker" id="" name="">
                      </select>
                    </li>
                    <br />
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/america.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> Country </span>
                      </div>
                      <select class="selectpicker" id="selectionCountry" name="selectionCountry">
                      </select>
                    </li>
                    <br />
                    <!-- <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/place-marker.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> City </span>
                      </div>
                      <select class="selectpicker" id="selectionCity" name="selectionCity">
                      </select>
                    </li>
                    <br /> -->
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/place-marker.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> State / Province </span>
                      </div>
                      <select class="selectpicker" id="" name="">
                      </select>
                    </li>
                    <br />
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/place-marker.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> City </span>
                      </div>
                      <select class="selectpicker" id="" name="">
                      </select>
                    </li>
                    <br />
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/language.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> Language </span>
                      </div>
                      <select class="selectpicker" id="" name="">
                      </select>
                    </li>
                    <br />
                    <li style="font-weight: 700;">
                      <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/client-company.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> Business Scale </span>
                      </div>
                      <select class="selectpicker" id="business_scale" name="business_scale">
                        <option value="" selected disabled>Any</option>
                        <option value="1">Small Scale</option>
                        <option value="2">Medium Scale</option>
                        <option value="3">Large Scale</option>
                      </select>
                    </li>
                  </ul>
                </div>

                <!-- ============================= -->
                <!-- SELECTION BY CATEGORY [start] -->
                <!-- ============================= -->
                <div class="mb-4">
                  <h2 class="text-lg font-semibold">SELECTION BY CATEGORY</h2>
                  <hr />
                </div>
                <!-- <ul class="mb-52"> -->
                  <ul class="mb-14">
                  <li style="font-weight: 700;">
                    <div class="icon-and-text">
                      <img alt="America icon" srcset="https://img.icons8.com/color/2x/stall.png 2x" class="icon-custom" />
                      <span class="span-inline-icon"> Trade Category </span>
                    </div>
                    <select class="selectpicker" id="" name="">
                    </select>
                  </li>
                  <br />
                  <li style="font-weight: 700;">
                    <a href="">
                      <ion-icon name="settings-outline" class="side-icon"></ion-icon>
                      <span>Sub Category</span>
                    </a>
                    <select class="selectpicker" id="" name="">
                    </select>
                  </li>
                  <br />
                  <li style="font-weight: 700;">
                    <a href="">
                      <ion-icon name="settings-outline" class="side-icon"></ion-icon>
                      <span>Minor Sub Category</span>
                    </a>
                    <select class="selectpicker" id="" name="">
                    </select>
                  </li>
                </ul>
                <!-- =========================== -->
                <!-- SELECTION BY CATEGORY [end] -->
                <!-- =========================== -->

                <!-- =========================== -->
                <!-- SEARCH BY [start] -->
                <!-- =========================== -->
                <div class="mb-14">
                  <div class="mb-4">
                    <h2 class="text-lg font-semibold">SEARCH BY</h2>
                    <hr />
                  </div>
                  <ul>
                    <li style="font-weight: 700;">
                      <!-- <div class="icon-and-text">
                        <img alt="America icon" srcset="https://img.icons8.com/color/2x/search.png 2x" class="icon-custom" />
                        <span class="span-inline-icon"> Keyword </span>
                      </div> -->
                      <select class="selectpicker" id="searchByProductOrCompanyName" name="searchByProductOrCompanyName">\
                        <option value="product_service" selected>Product / Service</option>
                        <option value="company_name">Company Name</option>
                      </select>
                      <input type="text" id="product_service_input" name="product_service_input" placeholder="Product / Service" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                      <input type="text" id="company_name_input" name="company_name_input" placeholder="Company Name" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                    </li>
                    <ul>
                </div>
                <!-- =========================== -->
                <!-- SEARCH BY [end] -->
                <!-- =========================== -->
                
              </div>
            </div>
          </div>
          <div class="lg:w-4/6 w-auto mb-2 overflow-y-auto h-screen " id="companiesProfilePictureDiv">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

              <ul class="uk-slideshow-items" id="companiesProfilePicture">
                <!-- <li>
                  <img src="uploads/selections/SID001.jpg" alt="" uk-cover>
                </li>
                <li>
                  <img src="uploads/selections/SID002.jpg" alt="" uk-cover>
                </li>
                <li>
                  <img src="uploads/selections/SID003.jpg" alt="" uk-cover>
                </li> -->
              </ul>
              <a class="uk-position-center-left uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-previous uk-slideshow-item="previous" id="selections-prev-slide"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-next uk-slideshow-item="next" id="selections-next-slide"></a>
            </div>
          </div>

          <!-- Right Sidebar -->
          <div class="lg:w-1/6 w-full">
            <div class="overflow-y h-1/3 selection-company-details-right bg-white" data-simplebar>
              <div class="p-4 -mt-1.5">
                <div class="mb-14 selection-left-column-inner">
                  <div class="border-b flex items-center justify-between">
                    <h2 class="text-lg font-semibold">COMPANY DETAILS</h2>
                  </div>
                  <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                    <div class="flex-1">
                      <div class="text-sm text-gray-500 mt-0.5">FileName</div>
                      <a href="timeline-page.html" class="text-base font-semibold capitalize" id="test-filename">  </a>
                    </div>
                  </div>
                  <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                    <div class="flex-1">
                      <div class="text-sm text-gray-500 mt-0.5">Banner</div>
                      <a href="timeline-page.html" class="text-base font-semibold capitalize" id="test-banner">  </a>
                    </div>
                  </div> -->
                  <div class="p-4 -mt-1.5">
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">COMPANY NAME</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-name"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">COMPANY TAGLINE</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-tagline"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Tags</div>
                        <!-- <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-industry-belong"></a> -->
                        <div class="flex flex-wrap gap-2" id="selection-business-industry-belong">
                        </div>
                      </div>
                    </div> 
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">GLOBAL REGION OF OPERATION</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-region-of-operations"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">COUNTRY OF OPERATION</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-country-of-operations"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">STATE OF OPERATION</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-state-of-operations"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">CITY OF OPERATION</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-city-of-operations"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Operating Time</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize" id="operating-time"> OPERATING TIME </a>
                      </div>
                    </div>

                    <!-- remove - start -->
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">WEBSITE</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-website"></a>
                      </div>
                    </div> -->
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">EMAIL</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-email"></a>
                      </div>
                    </div> -->
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">CONTACT</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-contact"></a>
                      </div>
                    </div> -->
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Social Media / Messaging App</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-business-social-media-contact-type"></a>
                      </div>
                    </div> -->
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Social Media / Messaging App Mobile Number</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-business-social-media-contact-number"></a>
                      </div>
                    </div> -->
                    <!-- remove - end -->
                    
                    
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Address</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-business-address"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">COUNTRY</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-country"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">STATE</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-state"></a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">CITY</div>
                        <a href="#" class="text-base font-semibold capitalize" id="selection-company-city"></a>
                      </div>
                    </div> -->

                    <!-- 
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Time</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"></a>
                      </div>
                    </div> 
                  -->
                    
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Languages of Communication</div>
                        <!-- <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-language-of-communication"></a> -->
                        <div class="flex flex-wrap gap-2" id="selection-business-language-of-communication">
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Trade Category</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-major-category"></a>
                      </div>
                    </div> 
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Sub Category</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-sub-category"></a>
                      </div>
                    </div> 
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Minor Sub Category</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-minor-sub-category"></a>
                      </div>
                    </div> 
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <div class="text-sm text-gray-500 mt-0.5">Business Scale</div>
                        <a href="timeline-page.html" class="text-base font-semibold capitalize" id="selection-business-scale"></a>
                      </div>
                    </div> 

                   
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 3</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 3</div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 4</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 4</div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 5</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 5</div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 5</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 5</div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 6</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 6</div>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize"> SAMPLE TITLE 7</a>
                        <div class="text-sm text-gray-500 mt-0.5">SAMPLE DESCRIPTION 7</div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="overflow-y h-1/3 selection-company-details-right bg-white mt-2.5" id="asdf" data-simplebar>
              <div class="p-4 -mt-1.5">
                <div class="mb-14 selection-left-column-inner">
                  <div class="border-b flex items-center justify-between">
                    <h2 class="text-lg font-semibold">RESULTS</h2>
                  </div>
                  <div class="p-4 -mt-1.5" id="top-selection-results">
                    <!-- <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 1</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 2</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 3</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 4</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 5</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 6</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 7</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 8</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 9</a>
                      </div>
                    </div>
                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                      <div class="flex-1">
                        <a href="timeline-page.html" class="text-base font-semibold capitalize">COMPANY NAME 10</a>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../includes/scripts/index.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.js"></script>
  <script src="assets/js/selection.js"></script>
  <script src="assets/js/selection-countries.js"></script>
  <script src="assets/js/timezone.js"></script>
  <script src="assets/js/image-link-checker.js"></script>
  <script src="assets/js/getStatesAndCitiesOptions.js"></script>
  
  <script type="text/javascript">
   
  </script>
</body>

</html>